/*colors:
    #5FB6D9 - ocean blue
    #59441D - pika brown
    #BF8B2A - pika light brown
    #F2D541 - pika yellow
    #D95043 - pika red
*/
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Palette+Mosaic&family=Turret+Road:wght@500&display=swap');

h1 {
    color: #F2D541;
    font-size: 32px;
}

main {
    background-color: rgba(37, 71, 85, .5);
    border-style: double;
    border-color: #D95043;
    width: 80%;
    margin: auto;
    padding: 2em;
}

body {
    background: url('../images/surfing_pikachu.jpg') no-repeat center center fixed;
    background-size: cover;
}

.headingStyle {
    text-decoration: underline;
    color: #59441D;
}

#asideHeader {
    background-color: #BF8B2A;
    color: darkslategray;
    text-transform: uppercase;
}

footer {
    background-color: #BF8B2A;
    border-style: double;
    border-color: #D95043;
    text-align: center;
    margin: 2em 0;
}

.selected, a:hover {
    color: #D95043;
    background-color: #59441D;
}

nav ul li a {
    padding: .4em 1em;
    display: block;
}

nav ul li {
    display: inline-block;
}

nav a {
    font-weight: bold;
    color: #5FB6D9;
}

nav ul {
    background-color: #BF8B2A;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

html {
    font-family: 'Turret Road', cursive;
}

.face img {
    width: 450px;
    height: 450px;
}

table {
    text-align: center;
    margin: auto;
}

th, td {
    padding: .3em;
}

thead, tfoot {
    background-color: #D95043;
}

tbody tr:nth-child(odd) {
    background-color: #F2D541;
}

tbody tr:nth-child(even) {
    background-color: #D95043;
}
