h1 {
    color: #F2D541;
    font-size: 32px;
}

main {
    background-color: #5FB6D9;
     border-style: double;
    border-color: #D95043;
}

.headingStyle {
    text-decoration: underline;
    color: #59441D;
}

#asideHeader {
    background-color: #BF8B2A;
    color: darkslategray;
    text-transform: uppercase;

}

header {
    background-color: #BF8B2A;
    border-style: double;
    border-color: #D95043;
}

footer {
    background-color: #BF8B2A;
    border-style: double;
    border-color: #D95043;
}